<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'><link rel="stylesheet" href="css/aboutus.css">

</head>
<body>
    <%- include('./layout/header.ejs')%>
<!-- partial:index.partial.html -->
<section class="container">
    <div class="page-header">
        <h1>About Us<br>
            
    </div>
    <div class="row row1 active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Ahmad AL-maali</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Civil Engineer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./img/ahmad.jpg">
                    </div>
                    <div class="mc-description">
                        "If you aim, aim at the star"
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a  target="_blank" href="https://www.facebook.com/profile.php?id=100010248409389" class="fa fa-fw fa-facebook"></a>
                    <a target="_blank" href="https://twitter.com/ahmad_maali95?s=09" class="fa fa-fw fa-twitter"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/ahmad-maali-780403125" class="fa fa-fw fa-linkedin"></a>
                    <a  class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div> 
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Suhaib Emad</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Mechanical Engineer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./img/suhaib.jpg">
                    </div>
                    <div class="mc-description">
                        
                    "when you feel like quitting think about why you started"
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a target="_blank" href="https://www.facebook.com/suhaib.emad.1" class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/suhaib-emad-253aa61b6/" class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple">
                <h2>
                    <span>Abdalrahman Samara
                    </span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Mechanical Engineer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./img/abdulrahan.jpg">
                    </div>
                    <div class="mc-description">
                        "Don't monkey my sky"
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a  target="_blank" href="https://web.facebook.com/abood.samara.585" class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a target="_blank" href="www.linkedin.com/in/abdalrahman-samara585" class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple">
                <h2>
                    <span>Baraa Jahmani</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Management Information System
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./img/bebo.jpg">
                    </div>
                    <div class="mc-description">
                        "Whoever goes with his ship in the sea of life without knowing which port he is heading to, no wind is favorable for him"
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a target="_blank" href="https://web.facebook.com/lilian.rami.58/" class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/baraa-jahmani-2926951b5/" class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple">
                <h2>
                    <span>Bayan AlKhatib</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Chemical Engineer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="./img/bayan.jpg">
                    </div>
                    <div class="mc-description">
                       "We can always begin again"
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a target="_blank" href="https://www.facebook.com/psofrose" class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/bayan-alkhatib" class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
       
       
    </div>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="js/script.js"></script>

</body>
</html>
