<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>add your recipe</h1>
        <form action="/community" method="POST">
        <input type="text" name="username"  placeholder="Please insert your name">
        <input type="text" name="recipename"  placeholder="Please insert recipe name">
        <input type="text" name="img_url"  placeholder="image URL">
        <input type="text" name='ingredient' placeholder="Ingredients">
        <input type="text" name='time' placeholder="time required to make this recipe">
        <input type="number" name='serving' placeholder="Servings">
        <input type="text" name='instuctions' placeholder="instructions">
        <button>Add Recipe</button>
        </form>
    </main>
</body>
</html>