<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Foodies!</title>
</head>
<body >
    <div class="main">
        <div class="container conrainer1">
        <img src="http://www.simpleimageresizer.com/_uploads/photos/da795436/vegetables-set-left-black-slate_18_32.jpg" alt="">
        
        <h3 class="content">Welcome to the Flavor Festival that is made with love . <br>
             Eating is a great way to gather loved ones <br> and there is a saying by Cesar Chavez:
             “If you really want to <br> make friends, go to someone's house and eat with them..… <br> The people who
              give you their food give you their hearts.”
              <br>
              <br>

            ****** Just advice: skinny people are more likely to be kidnapped <br> stay safe and eat a lot. ****** </h3>
    </div>
</div>
   <button id="CoverButton" style="vertical-align:middle"><a href='/main'><span>Press To Git You Inside Our World</span></a> </button>












    <script src="./js/app.js"></script>
</body>
</html>