<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Foodies!</title>
</head>
<body >
    <div class="main">
        <div class="container conrainer1">
        <img src="image/vegetables-set-left-black-slate (1).jpg" alt="">
        
        <h3 class="content"> 
            “Cooking is like love It should be entered <br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; into with abandon or not at all.”
            <br>
            <br>
            <br><br>
            <div id="cot">Harriet Van Horne</div>
            
            </h3>
    </div>
</div>
   <button id="CoverButton" style="vertical-align:middle"><a href='/main'><span>Press To Git You Inside Our World</span></a> </button>












    <script src="./js/app.js"></script>
</body>
</html>