<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700'>
    
    
    
    <title>Foodies!</title>
</head>
<body>
  <%- include('./layout/header.ejs')%>
    <!-- partial:index.partial.html -->
<main class="main-content">
    <section class="slideshow">
      <div class="slideshow-inner">
        <div class="slides">
          <div class="slide is-active ">
            <div class="slide-content">
              <div class="caption">
                <div class="title">“Food, Glorious Food”</div>
                <div class="text">
                
                </div> 
               
              </div>
            </div>
            <div class="image-container"> 
              <img src="image/baked-chicken-wings-asian-style (1).jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">“Food, Glorious Food”</div>
                <div class="text">
                  
                </div> 
               
              </div>
            </div>
            <div class="image-container">
              <img src="image/red-velvet-cake-slices-white-plate.jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">“Food, Glorious Food”</div>
                <div class="text">
                 
                </div> 
               
              </div>
            </div>
            <div class="image-container">
              <img src="image/spicy-mixed-seafood-salad-with-thai-food-ingredients.jpg" alt="" class="image" />
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">“Food, Glorious Food”</div>
                <div class="text">
                  
                </div> 
                
              </div>
            </div>
            <div class="image-container"> 
              <img src="image/top-view-fast-food-mix-hamburger-doner-sandwich-chicken-nuggets-rice-vegetable-salad-chicken-sticks-caesar-salad-mushrooms-pizza-chicken-ragout-french-fries-mayo.jpg" alt="" class="image" />
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="item is-active"> 
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
        </div>
        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
      </div> 
    </section>
    <section>
        <h2 class="pars">Pupular Desserts</h2>
    <div id="app" class="container">
      <a target="_blank" href="https://www.youtube.com/watch?v=zHu9rdrAGjk">
        <card data-image="https://image.freepik.com/free-photo/high-angle-shot-some-blue-purple-vegan-donuts-surrounded-by-flowers-table_181624-34320.jpg">
          <h1 slot="header">Donut</h1>
          <p slot="content">“ The only circle of trust you should have is a donut. ”</p>
        </card></a>
        <a target="_blank" href="https://www.youtube.com/watch?v=Z55wBdUo_s0">
        <card data-image="https://image.freepik.com/free-photo/homemade-delicious-raspberry-cake-roll_114579-52474.jpg">
          <h1 slot="header">Red-velvet</h1>
          <p slot="content">“ All the world is red-vevlet, so take a piece, but not too much ”</p>
        </card></a>
        <a target="_blank" href="https://www.youtube.com/watch?v=Ov4u0ARMWKQ">
        <card data-image="https://image.freepik.com/free-photo/assortment-pieces-cake_114579-28168.jpg">
          <h1 slot="header">Cake</h1>
          <p slot="content">“ Where there is cake, there is hope. And there is always cake ”</p>
        </card></a>
        <a target="_blank"  href="https://www.youtube.com/watch?v=nApD25HkbXk">
        <card data-image="https://image.freepik.com/free-photo/chocolate-ice-cream-dessert_144627-8363.jpg">
          <h1 slot="header">Ice Cream</h1>
          <p slot="content">“ You can’t buy happiness but you can buy ice cream. And that’s kind of the same thing ”</p>
        </card></a>
      </div>
      <h3>About Foodies</h3>
    <p id="par">
      Foodies is a service website, exist to provide proper recipes for food from all over the world.
       if you are following a diet and need to cut down on carbs, we got you, if you have intolerances,
        we got you, if you have only 20 minutes to prepare a proper dish, guess what, we got you, foodies
         have all of that and much more!
    </p>
    <br><br><br>
    </section>
  </main>
  <%- include('./layout/footer.ejs')%>




  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
  <script  src="js/main.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js'>
</script><script  src="js/main1.js"></script>

  
</body>
</html>