body{
    background-color:  #E8E7E5;
    box-sizing: border-box;
}
/* #E8E7E5 */
section {
    border: solid 2px white;
    border-top: none;
    width: 70%;
    margin: 40px auto;
    min-height:300px ;
}

section *{
    margin-bottom: 15px; 
    margin-right:15px ;
}

h2{
    word-wrap: break-word;
    margin-left:390px;
}

#title{
    font-weight:bolder;
    font-size:24px ;
    font-family: sans-serif;
    float: none;
    margin-left:15px ;
}

section figure{
    float: left;
    margin-left:15px ;
}

section figure img{
    width: 350px;
    height:200px ;
    margin-bottom: 0;
}
section div{
    display: flex;
    justify-content:space-around;
  
}

section div h2:first-child{
    justify-self: flex-start;
    margin-left: 0;
}

section div h2:last-child{
    margin-left: 0;
}
section h2:nth-child(4), section h2:nth-child(6){
    font-weight: bold;
    font-size:16px ;
}

section figure figcaption{
    font-style: italic;
    font-weight: bold;
    color: #268F91;
}

.viewbtn{
    margin-left: 390px;
<<<<<<< HEAD
=======
    background-image: linear-gradient(315deg, #3cadafc4 40%, #29e4dbc4 60%);
>>>>>>> f5e6253d25aad4008bacddfb14414bb463a8a73c
    display: block;
    width:530px;
    padding: 10px 0px ;
    border-radius:20px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.viewbtn:hover{
    background-color: #E8E7E5;
}

.comDiv{
    margin-left: 15px;
    display: block;
}
.comDiv form, .comDiv div{
display: block;
text-align: left;
}

.viewDiv{
<<<<<<< HEAD
background-color: #2198ad;
width:60%;
margin: 0 auto;
margin-top: 30px;
border-radius:5px ;
border-top-left-radius:0px ;
=======
background-color:rgb(239, 239, 239) ;
width:60%;
margin: 0 auto;
margin-top: 30px;
border-radius:7px ;
border-top-left-radius:0px ;
/* padding: 10px 0; */
min-height:91px ;
>>>>>>> f5e6253d25aad4008bacddfb14414bb463a8a73c
}

.viewDiv h2{
    text-align: left;
   padding:7px 10px ;
   margin-bottom: 0;
   font-weight: bold;
}

.viewDiv h3{
    padding: 0 10px;
    padding-bottom: 10px;
}

<<<<<<< HEAD
/* #firstdiv{
    display: none;
} */
=======
form{
    width: 79%;
    margin-left: auto;
}
form input:first-child{
    width:100%;
    padding: 12px 0;
    display: block;
    background-color: #E8E7E5;
    border: solid rgba(247, 245, 245, 0.973) 2px ;
    
}

form input::placeholder{
  text-align: center;
    color: rgb(71, 69, 69);
}

form input:nth-child(2) {
padding:12px 30px;
width:38%;
background-color: #E8E7E5;
border: solid rgba(247, 245, 245, 0.973) 2px ;
margin-right:220px ;
}


form button:last-child {
    padding:10px 40px;
    width:20%;
    background-image: linear-gradient(315deg, #3cadafc4 40%, #29e4dbc4 60%);
    border-radius:20px ;
    margin-right:0px ;
    }
>>>>>>> f5e6253d25aad4008bacddfb14414bb463a8a73c
