body{
    background-color:  #f9f9f9;
    box-sizing: border-box;
}
/* #E8E7E5 */
section {
    border: solid 2px #0c3436;
    border-top: none;
    width: 70%;
    margin: 20px auto;
    min-height:500px ;
    display: flex;
    flex-direction: column;
}

section *{
    margin-bottom: 15px; 
    margin-right:15px ;
}

h2{
    word-wrap: break-word;
    margin-left:390px;
}

#title{
    font-weight:bolder;
    font-size:24px ;
    font-family: sans-serif;
    float: none;
    margin-left:15px ;
    margin-bottom: 0;
}

section figure{
    float: left;
    margin-left:15px ;
}

section figure img{
    width: 350px;
    height:200px ;
    margin-bottom:20px;
}
section div{
    display: flex;
    justify-content:space-around;
}

section div h2:first-child{
    justify-self: flex-start;
    margin-left: 0;
}

section div h2:last-child{
    margin-left: 0;
}
article h2:nth-child(5),article h2:nth-child(7){
    font-weight: bold;
    font-size:16px ;
}

section article{
    max-height:500px;
    overflow: hidden;
}
section article h3{
    font-style: italic;
    font-weight: bold;
    color: #268F91;
    margin-left:15px;
    margin-top:2px ;
}

.viewbtn,form button{
    
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    background-color:#03c8a8 ;
    color:white;
    border-radius:5px;
    border: none;
    transition:0.3s;
    display: block;
    padding: 10px 0px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    width: 150px;
    height: 45px;
}

.viewbtn:hover,form button:hover{
    cursor: pointer;
    background:#3dddd5ab;
    transition-timing-function:ease-in;
    border:groove 1px black;
    color:#0c3436;
    transition-duration:.5s;

}

.comDiv{
    margin-left: 15px;
    display: block;
}

.comDiv form, .comDiv div{
display: block;
text-align: left;
}

.viewDiv{
background-color:rgb(239, 239, 239);
width:66%;
margin-left:15px;
margin-top: 30px;
border-radius:7px ;
border-top-left-radius:0px ;
min-height:91px ;
}

.comDiv h2{
font-weight: 600;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.viewDiv h2{
    text-align: left;
   padding:7px 10px ;
   margin-bottom: 0;
   font-weight: bold;
}

.viewDiv h3{
    padding: 0 10px;
    padding-bottom: 10px;
}

form{
    width: 79%;
    margin-left:15PX;
}

form input{
    width:80%;
    padding: 12px 0;
    display: block;
    background-color: #E8E7E5;
    border: solid #034a4b 2px ;
    padding:15px ;   
}

label[for=addname],label[for=ccc]{
margin-bottom:30px;
/* padding:15px; */
}

form input::placeholder{
  text-align: center;
    color: rgb(71, 69, 69);
}

