@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


main {
    background-image: url(https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height:86vh;
    width: 100%;
}


input[type=text],textarea[ name=instuctions], input[type=number], textarea[ name=ingredients]{
border:groove 1px black;
}
#ui {
background-color: rgba(243, 234, 234, 0.61);
padding: 30px;
margin-top: 100px;
border-radius: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom:30px ;
}

#ui label,
h1 {
    color: black;
}

.div-button {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.btn-color{
    background-color:#3FC2BE;
    color:white;
    opacity: 1;
}
.btn-color:hover{
/* background-color:#1c9787; */
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
transition-timing-function:ease-in;
border:groove 1px black;
color:cornsilk;
transition-duration:.5s;
}

h1{
    font-size:30px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

