
body{
    margin: 0;
    padding:0;
    background:#fafafa;
  
}

.main{
    position: relative;
    height: 100vh;
    width: 1366px;
    display: flex;
    
 
}
.main .container{
    position: relative;
    height: 99%;
    width: 99%;
    margin: 0;
    padding: 0;
 

}
.main .container img  {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-size: cover;
    background-position: center; */
 
}
.content{
    font-family: 'lato' , sans-serif;
    font-size: 28px;
    color: rgb(247, 190, 4);
    font-weight: 500;
    text-shadow: 0 0 3px #685656, 0 0 5px #746668, 0 0 5px #fa0606;
    font-family: 'Zilla Slab', serif;
    position: absolute;
    top:20%;
    left: 20px;
    width:100%;
    
}
a{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: rgb(252, 193, 0);
    text-shadow: 0 0 3px #685656, 0 0 5px #746668, 0 0 5px #fa0606;
}
#CoverButton{
    width: 350px;
    height: 40px;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 20px;
    
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    /* position: relative; */
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  } 

  #CoverButton {
    border: none;
    background: rgb(247, 149, 3);
      background: linear-gradient(0deg, rgb(209, 137, 3) 0%, rgb(209, 62, 17) 100%);
      color: #fff;
      overflow: hidden;
  }
  #CoverButton:hover {
      text-decoration: none;
      color: #fff;
  }
  #CoverButton:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 1s ease-in-out infinite;
  }
  #CoverButton:hover{
    opacity: .7;
  }
  #CoverButton:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  

