<link rel="stylesheet" href="../css/footer.css">
<footer class="footer-distributed">

			<div>
				<p class="footer-links">
					<a href="/main" class="link-1">Home</a>

					<a href="/search">Search </a>

                    <a href="/addrecipe">Add recipe </a>

					<a href="/community">Community </a>

					<a href="/aboutus">About US</a>

				</p>

			</div>

		

				<div class="divtag">
					<!-- <i class="fa fa-map-marker" ></i> -->
					<p class="ptag">Al-Huryah street, Amman, Jordan</p>
					<!-- <p class="footer-company-name">FOODIES © 2021</p> -->
				</div>








				<div>
					<!-- <i class="fa fa-envelope"></i> -->
					<br>
					<p><a href="abdsamara_1998@yahoo.com">foodeis@company.com</a></p>
				</div>




		</footer>