 <link rel="stylesheet" href="../css/footer.css"> 

	<footer>

		<div id="first">
			<a href="/" class="link-1">Home</a> <span> | </span>
			<a href="/search">Search</a> <span> | </span>
			<a href="/addrecipe">Add recipe</a> <span> | </span>
			<a href="/community">Community</a> <span> | </span>
			<a href="/aboutus">About us</a>
	</div>

<<<<<<< HEAD
     
	 


		<div class="footer-social-icons">
			<ul class="social-icons">
			  <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			  <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
			  <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
			  <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
			  <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			  <li><a href="" class="social-icon"> <i class="fa fa-github"></i></a></li>
			</ul>
		  </div>
=======
	<div class="footer-social-icons">
		<ul class="social-icons">
			<li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-github"></i></a></li>
		</ul>
		</div>
>>>>>>> f5e6253d25aad4008bacddfb14414bb463a8a73c
	</footer>














		