
  <link rel="stylesheet" href="../css/header.css">
<header class="fixed-header">
    <ul>
        <li><img class='btn btn-one' style="padding: 0px;" src="../img/logo2.png" alt=""></li>
        <li><a class='btn-5' style="text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bolder; font-size: larger; " href="/">Home</a></li>
        <li><a class='btn-5' style="text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bolder; font-size: larger; " href="/search">Search</a></li>
        <li><a class='btn-5' style="text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bolder; font-size: larger; " href="/addrecipe">Add your Recipe</a></li>
        <li><a class='btn-5' style="text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bolder; font-size: larger; " href="/community">Community</a></li>
        <li><a class='btn-5' style="text-decoration: none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bolder; font-size: larger; " href="/aboutus">About</a></li>
      </ul>
</header>