
  <link rel="stylesheet" href="../css/header.css">
<header>
    <ul>
        <li class='btn btn-one'><img src="../img/logo2.png" alt=""></li>
        <li><a class='btn-5' href="/">Home</a></li>
        <li><a class='btn-5' href="/search">Search</a></li>
        <li><a class='btn-5' href="/addrecipe">Add your Recipe</a></li>
        <li><a class='btn-5' href="/community">Community</a></li>
        <li><a class='btn-5' href="/aboutus">About</a></li>
      </ul>
</header>